

.navbar-nav .nav-link {
    color: blue !important;

}

.navbar-nav .nav-link:hover {
    color: red !important;
}


body {
  background-color: inherit;
  color: white;

}

body {
  background-image:  url('https://phonoteka.org/uploads/posts/2021-03/thumbs/1616367236_22-p-fon-dlya-saita-23.jpg');
  background-size:100%;

}

img {
    transition: 1s; /* Время эффекта */
}
img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.transform-rotate {
    transition: 1s; /* Время эффекта */
}

.transform-rotate:hover {
    transform: scale(0.9); /* Увеличиваем масштаб */

}

.blend{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blend h1{
  font-size: 80px;
  color: rgb(0,255,255);
  mix-blend-mode: difference;
}

/*color: rgb(0,255,255);
  mix-blend-mode: difference;*/

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
