

.navbar-nav .nav-link {
    color: blue !important;

}

.navbar-nav .nav-link:hover {
    color: yellow !important;
}


body {
  background-color: inherit;
    color: black;
}

body{
  background-image:  url('https://phonoteka.org/uploads/posts/2021-03/thumbs/1616367236_22-p-fon-dlya-saita-23.jpg');
  background-size:100%;
}

.blend{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blend h1{
  font-size: 80px;
  mix-blend-mode: overlay;
}



body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
